- error = @post.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)

- error = @post.errors.include?(:path)

- editors = {}
- i = 0
- Plugin.apply_action('add_editor','admin.posts.edit',self,f,@post.errors.include?(:body) ? f.error_message_on(:body, :class => 'text-error') : nil) do |result|
  - name = result.has_key?(:name) ? result[:name] : "editor_#{i}"
  - editors[name] = result.has_key?(:body) ? result[:body] : ""

%fieldset.control-group
  .controls
    = label_tag "post_editor_select", caption: "Editor: ", class: ''
    = select_tag "post_editor_select", options: editors.keys, selected: Preference.get('admin.posts.editor','active_post_editor'), id: 'post_editor_select', class: 'form-control'

%fieldset.control-group.post-editors{:class => error ? 'has-error' : ''}
  - show=true
  - editors.each do |name,body|
    %div{name: name, class: 'post-editor'+(show ? '' : ' hidden')}
      =body
    - show=false

-# error = @post.errors.include?(:body)
  %fieldset.control-group{:class => error ? 'has-error' : ''}
    =f.label :body, :class => 'control-label'
    .controls
      ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
      %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)



- error = @post.errors.include?(:account_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :account_id, caption: "Author",:class => 'control-label'
  .controls
    =f.select :account_id, :options=>Account.all.map{|a| [a.full_name,a.id]},:default=>current_account.id,:class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:account_id, :class => 'text-error') : pat(:example)

- error = @post.errors.include?(:category_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :category_id, :class => 'control-label'
  .controls
    =f.select :category_id, :options=>Category.all.map{|c| [c.name,c.id]},:class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:category_id, :class => 'text-error') : pat(:example)

- error = @post.errors.include?(:is_news)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  .controls
    =f.check_box :is_news, :class => 'input-large input-with-feedback'
    =f.label :is_news, :caption=>"Show in News pane?", :class => 'control-label'
    %br/
    %span.help-inline=error ? f.error_message_on(:is_news, :class => 'text-error') : pat(:example)

%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :tag_list, :class => 'control-label'
  .controls
    =f.text_field :tag_list, :class => 'form-control input-large input-with-feedback tag-list-for-post', 'data-role' => 'tagsinput'
    %span.help-inline=error ? f.error_message_on(:tag_list , :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:posts, :index), :class => 'btn btn-default'
