/nbproject/project.xml
/nbproject/project.properties
.bundle
.rvmrc
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.yardoc
config/database.yml
#db/schema.rb
.idea/*
.DS_Store
.gitignore
bin/
public/assets*/
coverage
*.js.map
*~
.jhw-cache
.project
.settings
/nbproject/private/