/*Set the page to display as a printed page. */
body {
  width: 10.5in;
  padding: 0px;
  margin: 0px; }

#header img {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100px; }

#header_text {
  float: left;
  width: 6.5in; }

#header_title {
  margin: 0px;
  padding: 0px;
  font-size: 38pt;
  font-weight: bold;
  text-align: center;
  width: 100%; }

#header_slogan {
  text-align: right; }

/*Set the left and right margins to appr. 1.25in. (1.238in allows for borders) */
#left_spacer {
  max-width: 0.5in;
  width: 0.5in;
  float: left;
  border: none;
  margin: 0px;
  padding: 0px; }

#right_spacer {
  max-width: 1.95in;
  width: 1.95in;
  float: left;
  border: none;
  margin: 0px;
  padding: 0px; }

/*The main contents area */
#envelope {
  width: 8in;
  float: left;
  border: groove thin lightblue; }

/*Pack all main layout elements together */
#header, #school_tabs, #menu_tabs, #content, #footer {
  padding: 0px;
  margin: 0px; }

#header {
  float: left;
  clear: both;
  width: 100%;
  height: 100px; }
  #header img {
    float: left;
    margin: 0px;
    padding: 0px;
    height: 100px; }

#header_custom {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100px; }

#header h1 {
  font-size: 28px; }

.udm {
  margin: 0px;
  padding: 0px; }

/*The main text area */
#content {
  margin: 0.25in;
  float: left; }

/*The footer */
#footer {
  float: left;
  font-size: 7pt;
  border-top: solid black thin;
  font-weight: bold; }
  #footer #info {
    float: left; }
  #footer #maintainer {
    float: right; }

/*The credentials section, after the content area. Has w3c stuff and info about me! */
#credits {
  text-align: right;
  font-size: 7pt;
  text-decoration: none;
  color: black;
  clear: both;
  margin-right: 1.95in; }
  #credits a {
    text-decoration: underline;
    color: #333333; }

body {
  background-color: #6666cc; }

#envelope {
  background-color: white; }

#submenu_tabs {
  background-color: #66cc66; }

#content {
  background-color: white; }

#sitenews {
  margin: 0px;
  margin-top: 100px;
  padding: 0px;
  background-color: #666666;
  border: 1px inset #333333;
  height: 100%; }
  #sitenews dl {
    margin: 0px;
    padding: 0px;
    padding-bottom: 3px; }
    #sitenews dl dt {
      font-size: 14px;
      font-weight: bold;
      border-bottom: 1px solid #cccccc;
      color: #cccccc;
      height: 15px; }
    #sitenews dl dd {
      font-size: 12px;
      text-indent: 0px;
      margin: 0px;
      margin-left: 5px;
      border-bottom: 1px dashed #666666; }
      #sitenews dl dd:before {
        font-size: 12px;
        text-indent: 0px;
        margin: 5px; }
  #sitenews a {
    text-decoration: none;
    color: lightblue; }
    #sitenews a:hover {
      color: #00cc66; }

.infohead {
  background-color: #999999;
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 0px;
  padding-bottom: 0px; }

.infobody {
  background-color: #cccccc;
  font-size: 12pt;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  margin-top: 0px;
  margin-bottom: 2ex;
  margin-left: 0px; }
  .infobody p {
    text-indent: 4em;
    padding: 0px;
    margin: 0px; }

.newstable {
  padding: 0;
  border: 0; }

.newsBody {
  width: 90%;
  font-size: 12;
  background-color: #e5e0e5;
  text-indent: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em; }
  .newsBody P {
    text-indent: 2em; }

.newsDate {
  width: 90%;
  font-size: 10;
  background-color: #c5c2c5;
  margin-right: 2em;
  margin-left: 2em;
  width: 100; }

.newsHead {
  font-size: 16;
  margin-right: 2em;
  color: #c5c2c5;
  background-color: #838183; }

.manPage {
  font-family: monaco, monospace;
  background-color: white;
  vertical-align: top; }
  .manPage P {
    color: black;
    text-indent: 4em;
    font-size: 10; }

.manSection {
  color: black;
  font-size: 16; }

.code {
  text-align: left;
  background-color: lightgrey;
  color: white;
  width: 50%;
  #margin-left: 5em;
  font-size: 10;
  font-family: monaco, monospace; }

.manTable {
  width: 90%;
  border-color: black;
  border: 3;
  font-family: monaco, monospace;
  font-size: 10; }
  .manTable TR {
    background-color: lightgrey; }

.manTable2 {
  width: 90%;
  font-family: monaco, monospace;
  background-color: lightgrey;
  font-size: 10; }

.mainFrame {
  background-color: lightblue;
  /*margin-top:3;
   *margin-left:15; */ }

.dlTable {
  font-family: monaco, monospace;
  margin-left: 3em;
  margin-right: 3em;
  padding: 0; }
  .dlTable TR {
    background-color: lightgrey; }
  .dlTable .filename {
    font-size: 14; }
  .dlTable .desc {
    font-size: 12;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em; }
