-#%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :account_id, caption: "Author",:class => 'control-label'
  .controls
    =f.select :account_id, :options=>Account.all.map{|a| [a.full_name,a.id]},:default=>current_account.id,:class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:account_id, :class => 'text-error') : pat(:example)
%h1 This is a markdown editor
