%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :body, :class => 'control-label'
  .controls
    ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)
