%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:preferences, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:preferences, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:preferences, :edit, :id => @preference.id)

.tabs-content
  = form_for :preference, url(:preferences, :update, :id => @preference.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'preferences/form', :locals => { :f => f }
