$page-width: 1333px
$content-width: 871px
$right-sidebar-width: 307px
$dark-blue: #0f61b3
$light-blue: #74b1ef
$light-green: #2fd327
$dark-green: #148708
$green-border: #2fd327
$blue-border: #0f61b3

