/BEGIN Theme Header
=theme_js "default"  #this should be all. You should include other JS in this file
=theme_css "default"
=theme_css "jquery-ui/jquery.ui.all.css"
/[if IE 7]
  =theme_css "ie7"
=theme_css "print", {:media=>:print}
/END Theme Header
