/BEGIN Theme Header
/
  =theme_js "default.js"
=theme_js "default"
=theme_css "default"
=theme_css "jquery-ui-1.10.3.custom"
/[if IE]
  =theme_css "ie7"
=theme_css "print", {:media=>:print}
/END Theme Header
