%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:comments, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:comments, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:comments, :edit, :id => @comment.id)

.tabs-content
  = form_for :comment, url(:comments, :update, :id => @comment.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'comments/form', :locals => { :f => f }
