!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Rude Boy Enterprises :: #{@page_title || yield_content(:page_title) || "Home"}
    =js "application"
    =css 'application'
    /[if IE]
      =css 'ie'

    =partial "#{theme_partial_path}/header"
  %body
    -content_for :page_content do
      = yield
    =partial "#{theme_partial_path}/layout"
